body {
    background-color: rgb(144, 183, 219);
     font-family: sans-serif italic;
}
footer {
    background-color: rgb(64, 124, 158);
    color: rgb(255, 255, 255);
    bottom:0;
    position:fixed;
    width:100%;
    height:2rem;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0,5rem;
}