body {
    background-color: rgb(144, 183, 219);
}
footer {
    background-color: rgb(64, 124, 158);
    color: rgb(255, 255, 255);
    bottom:0;
    position:fixed;
    width:100%;
}
footer p{
    text-align: center;
    font-size: 0.6rem;
}